{% extends "base.html" %}



{% block title %}1조 블로그{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
<div class = "topic">

<h1><center> 주제<center></h1>
<h5><center>따뜻한 마음을 담아 정성을 다하는 <strong>실버시터</strong> 매칭 사이트<center></h5>
  <br>
  <br>
  <br>

<h1><center>주제 선정이유<center></h1>
<h5><center>매년 이슈가 되어왔던 뉴스에 대해 관심을 가지게 되었습니다.
일과 현실생활에 바쁜 현대인에게 부모의 부양까지 하는 것은 현실적으로 무리라는 말들이 많았는데요.
이러던 와중 실버시터라 하여 아기를 돌봐주는 베이비 시터와 같은 의미로 생활이 어려운 노인들을 돌봐주는 일을 하는 실버시터에 관한 사이트를 만들게 되었습니다.<center></h5>
</div>
<br>
<br>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br<br><br>><hr>
<div class = "topic2 pull-bottom" >
<h4>실버시터란?</h4>
<p>혼자선 일상 생활이 불편한 노인을 도와주는 도우미 아기 보는 사람을 뜻하는 베이비시터(baby-sitter)에 노인을 뜻하는 실버(silver)가 합쳐진 단어 - 네이버 지식백과-
</p>
</div>

{%endblock%}
